<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Strix_HelloWorld::hello_menu"
             title="Hello World"
             translate="title"
             module="Strix_HelloWorld"
             sortOrder="100"
             parent="Magento_Catalog::inventory"
             action="strix_helloworld/owl/index/"
             resource="Strix_HelloWorld::hello_world"/>
    </menu>
</config>